<footer class="text-center footer-style">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 footer-col">
        <h4>Mascotas.ga</h4>
        <a href="https://play.google.com/store"><img class="iconF" src="../../assets/imgs/disponible-android.png"  alt="Android" style="width:105px;">&nbsp;</a>
        <a href="https://www.apple.com/co/ios/app-store/"><img class="iconF" src="../../assets/imgs/disponible-app-store.png" alt="IOS"style="width:105px; height: 33px;"></a>
        <ul class="list-inline">
          <li>
            <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
          </li>
          <li>
            <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
          </li>
          <li>
            <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
          </li>
          <li>
            <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
          </li>
          <li>
            <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
          </li>
        </ul>
        <p>Cristhian Eduardo Castillo Erazo - Andres Felipe Ariza Calderon</p>

        <p>Terminos y Condiciones de uso - Policitas de Privacidad</p>
        <p>Copyright &copy; 2018 MASCOTAS.GA. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
