<footer class="text-center footer-style">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 footer-col">
        <h4>Mascotas.ga</h4>
        <a href="https://play.google.com/store"><img class="iconF" src="../../assets/imgs/disponible-android.png"  alt="Android" style="width:105px;">&nbsp;</a>
        <a href="https://www.apple.com/co/ios/app-store/"><img class="iconF" src="../../assets/imgs/disponible-app-store.png" alt="IOS"style="width:105px; height: 33px;"></a>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-3 mt-sm-3">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook" style="font-size:25px; color:white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter" style="font-size:25px; color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram" style="font-size:25px;color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-google-plus" style="font-size:25px;color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope" style="font-size:25px;color: white;"></i></a></li>
            </ul>
          </div>
          <hr>
        </div>
        <p>Cristhian Eduardo Castillo Erazo - Andres Felipe Ariza Calderon</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Terminos y Condiciones de uso</a></li>
          <li class="list-inline-item"><a href="#">Politicas de privacidad</a></li>
          <li class="list-inline-item"><a href="#">Soporte</a></li>
        </ul>
        <p>Copyright &copy; 2018 MASCOTAS.GA. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
