<footer class="text-center footer-style">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 footer-col">
        <h4>{{variables['application.name']}}</h4>
        <a [href]="propiedades['url.mobile.app.android']" target="_blank">
          <img class="iconF" [src]="propiedades['url.image.google.store']"  alt="Android" style="width:105px;">&nbsp;
        </a>
        <a [href]="propiedades['url.modile.app.iso']" target="_blank">
          <img class="iconF" [src]="propiedades['url.image.apple.store']" alt="IOS"style="width:105px; height: 33px;">
        </a>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-3 mt-sm-3">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook" style="font-size:25px; color:white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter" style="font-size:25px; color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram" style="font-size:25px;color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-google-plus" style="font-size:25px;color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope" style="font-size:25px;color: white;"></i></a></li>
            </ul>
          </div>
          <hr>
        </div>
        <p>{{variables['autor.1']}} - {{variables['autor.2']}}</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">{{propiedades['terminos.condiciones']}}</a></li>
          <li class="list-inline-item"><a href="#">{{propiedades['politicas']}}</a></li>
          <li class="list-inline-item"><a href="#">{{propiedades['soporte']}}</a></li>
        </ul>
        <p>{{propiedades['copy.right'].replace('{0}', this.date)}}</p>
        <p>{{variables.version}}</p>
      </div>
    </div>
  </div>
</footer>
