<br>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-running-dots">
  <p style="font-size: 20px; color: white">{{propiedades['message.spinner']}}</p>
</ngx-spinner>
<div class="container">
  <div class="form-signin">
    <div class="text-center">
      <h2>{{propiedades['title']}}</h2>
      <p>{{propiedades['description']}}</p>
      <hr />
    </div>
    <form [formGroup]= "loginForm" (ngSubmit)="validData()">
      <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
      <div class="form-group">
        <label for="exampleInputEmail1">{{propiedades['label.nombre.usuario']}}</label>
        <i [ngClass]="isValidCheck('usuario')"></i>
        <input formControlName="usuario" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu usuario"
               [ngClass]="isValidInput('usuario')">
        <div class="invalid-feedback">{{propiedades['label.nombre.usuario.invalid']}}</div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{propiedades['label.password']}}</label>
        <i [ngClass]="isValidCheck('password')"></i>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu contraseña"
               [ngClass]="isValidInput('password')">
        <div class="invalid-feedback">{{propiedades['label.password.invalid']}}</div>
      </div>
      <div class="form-group form-check">
        <input formControlName="recordarPassword" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">{{propiedades['label.remember.password']}}</label>
      </div>
      <button type="submit" class="btn btn-success btn-block">{{variables.common.buttons['button.login']}}</button>
    </form>
  </div>
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="urls.URL_HOME">{{propiedades['label.forgot.password']}}</a>
      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="urls.URL_REGISTER">{{propiedades['label.register']}}</a>
      </li>
    </ul>
  </div>
</div>
