<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Registrar Evento</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="nombreMascota">Seleccionar Mascota</label>
      <select class="form-control" id="nombreMascota" name="nombreDeMascota">
        <option *ngFor="let mascota of agenda" [value]="mascota.nombre">{{mascota.nombre}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="nombreEvento">Nombre Evento</label>
      <input type="text" class="form-control" id="nombreEvento" placeholder="Asocia un nombre para este evento">
    </div>
    <div class="form-group">
      <label for="tipoActividad">Tipo Actividad</label>
      <select class="form-control" id="tipoActividad">
        <option>Vacunacion</option>
        <option>Veterinaria</option>
        <option>Dientes</option>
        <option>Jugar</option>
        <option>Baño</option>
        <option>Vacuna B2</option>
        <option>Peluqueria</option>
      </select>
    </div>
    <div class="form-group">
      <label>Fecha Evento</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-danger calendar" (click)="d.toggle()" type="button">Seleccionar</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Hora Evento</label>
        <ngb-timepicker name="Hora" [(ngModel)]="time"></ngb-timepicker>
    </div>
    <div class="form-group">
      <label for="descripcionEvento">Descripción Evento</label>
      <textarea name="descripcionDelEvento" class="form-control" id="descripcionEvento" placeholder="Descripción Evento"></textarea>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="open('Registro Evento', 'Evento registrado correctamente!')">Guardar Evento</button>
    </div>
  </form>
</div>
