<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{propiedades.components.agenda['modal-create']['title']}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]= "agendaForm" (ngSubmit)="getData()">
    <div class="form-group">
      <label for="idMascota">{{propiedades.components.agenda['label.select.pet']}}</label>
      <i [ngClass]="isValidCheck('idMascota')"></i>
      <select formControlName="idMascota" class="form-control" id="idMascota" name="idMascota" [ngClass]="isValidInput('idMascota')">
        <option *ngFor="let mascota of listaMascotas; trackBy: trackByFn" [value]="mascota.id">{{mascota.nombre}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades.components.agenda['label.select.pet.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="nombre">{{propiedades.components.agenda['label.name']}}</label>
      <i [ngClass]="isValidCheck('nombre')"></i>
      <input formControlName="nombre" type="text" class="form-control" id="nombre" name="nombreDelEvento" placeholder="Asocia un nombre para este evento"
             [ngClass]="isValidInput('nombre')">
      <div class="invalid-feedback">{{propiedades.components.agenda['label.name.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="ubicacion">{{propiedades.components.agenda['label.location']}}</label>
      <i [ngClass]="isValidCheck('ubicacion')"></i>
      <input formControlName="ubicacion" type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Asocia un lugar para este evento"
             [ngClass]="isValidInput('ubicacion')">
      <div class="invalid-feedback">{{propiedades.components.agenda['label.location.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="tipo">{{propiedades.components.agenda['label.tipo.evento']}}</label>
      <i [ngClass]="isValidCheck('tipo')"></i>
      <select formControlName="tipo" class="form-control" id="tipo" name="tipo"
              [ngClass]="isValidInput('tipo')">
        <option *ngFor="let service of services; trackBy: trackByFn" [value]="service.id">{{service.nombre}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades.components.agenda['label.tipo.evento.invalid']}}</div>
    </div>
    <div class="form-group">
      <label>{{propiedades.components.agenda['label.fecha.evento']}}</label>
      <i [ngClass]="isValidCheck('fecha')"></i>
      <div class="input-group">
        <input formControlName="fecha" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
               [ngClass]="isValidInput('fecha')">
        <div class="input-group-append">
          <button class="btn btn-outline-danger calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" style="font-size:24px"></i>
          </button>
        </div>
        <div class="invalid-feedback">{{propiedades.components.agenda['label.fecha.evento.invalid']}}</div>
      </div>
    </div>
    <div class="form-group">
      <label>{{propiedades.components.agenda['label.hora.evento']}}</label>
      <i [ngClass]="isValidCheck('hora')"></i>
      <ngb-timepicker formControlName="hora" name="Hora"></ngb-timepicker>
      <p class="alert alert-danger" *ngIf="(agendaForm.get('hora').hasError('required')) && agendaForm.get('hora').touched">
        {{propiedades.components.agenda['label.hora.evento.invalid']}}
      </p>
    </div>
    <div class="form-group">
      <label for="descripcion">{{propiedades.components.agenda['label.descripcion.evento']}}</label>
      <i [ngClass]="isValidCheck('descripcion')"></i>
      <textarea formControlName="descripcion" name="descripcion" class="form-control" id="descripcion" placeholder="Descripción Evento"
                [ngClass]="isValidInput('descripcion')"></textarea>
      <div class="invalid-feedback">{{propiedades.components.agenda['label.descripcion.evento.invalid']}}</div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success">{{propiedades.common.buttons["button.create"]}}</button>
    </div>
  </form>
</div>
