<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{propiedades['modal.create']['title']}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]= "supplieForm" (ngSubmit)= "getData()">
    <div class="form-group">
      <label for="tipoSiministro">{{propiedades['label.tipo.suministro']}}</label>
      <i [ngClass]="isValidCheck('tipoSuministro')"></i>
      <select formControlName="tipoSuministro" class="form-control" id="tipoSiministro"
              [ngClass]="isValidInput('tipoSuministro')">
        <option value="" selected>{{variables.common.select['default.option']}}</option>
        <option *ngFor="let supplie of typeSupplies; trackBy: trackByFn" [value]="supplie.id">{{supplie.nombre}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades['label.tipo.suministro.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="nombreSuministro">{{propiedades['label.nombre.suministro']}}</label>
      <i [ngClass]="isValidCheck('nombre')"></i>
      <input formControlName="nombre" type="text" class="form-control" id="nombreSuministro" placeholder="Nombre del suministro"
             [ngClass]="isValidInput('nombre')">
      <div class="invalid-feedback">{{propiedades['label.nombre.suministro,invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="cantidadSuministro">{{propiedades['label.cantidad.suministro']}}</label>
      <i [ngClass]="isValidCheck('cantidad')"></i>
      <input formControlName="cantidad" type="number" class="form-control" id="cantidadSuministro" placeholder="Cantidad del suministro"
             [ngClass]="isValidInput('cantidad')">
      <div class="invalid-feedback">{{propiedades['label.cantidad.suministro.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="unidadDeMedida">{{propiedades['label.unidad.medida']}}</label>
      <i [ngClass]="isValidCheck('unidad')"></i>
      <select formControlName="unidad" class="form-control" id="unidadDeMedida"
              [ngClass]="isValidInput('unidad')">
        <option value="" selected>{{variables.common.select['default.option']}}</option>
        <option *ngFor="let unidad of listaUnidades; trackBy: trackByFn" [value]="unidad.value">{{unidad.value}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades['label.unidad.medida.invalid']}}</div>
    </div>
    <div class="form-group">
      <label>{{propiedades['label.fecha.compra']}}</label>
      <i [ngClass]="isValidCheck('fechaCompra')"></i>
      <div class="input-group">
        <input formControlName="fechaCompra" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
               [ngClass]="isValidInput('fechaCompra')">
        <div class="input-group-append">
          <button class="btn btn-outline-danger calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" style="font-size:24px"></i>
          </button>
        </div>
        <div class="invalid-feedback">{{propiedades['label.fecha.compra.invalid']}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="precioSuministro">{{propiedades['label.precio']}}</label>
      <i [ngClass]="isValidCheck('precio')"></i>
      <input formControlName="precio" type="number" class="form-control" id="precioSuministro" placeholder="Precio del suministro"
             [ngClass]="isValidInput('precio')">
      <div class="invalid-feedback">{{propiedades['label.precio.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="proveedor">{{propiedades['label.nombre.tienda']}}</label>
      <i [ngClass]="isValidCheck('proveedor')"></i>
      <input formControlName="proveedor" type="text" class="form-control" id="proveedor" placeholder="Nombre de tienda"
             [ngClass]="isValidInput('proveedor')">
      <div class="invalid-feedback">{{propiedades['label.nombre.tienda.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="comentarios">{{propiedades['label.comentarios']}}</label>
      <i [ngClass]="isValidCheck('comentarios')"></i>
      <textarea formControlName="comentarios" name="comentariosSuministro" class="form-control" id="comentarios" placeholder="Agrega algun comentario"
                [ngClass]="isValidInput('comentarios')"></textarea>
      <div class="invalid-feedback">{{propiedades['label.comentarios.invalid']}}</div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success">{{variables.common.buttons['button.create']}}</button>
    </div>
  </form>
</div>
