<div class="container py-2">
  <h2 class="text-center text-muted py-3">Solicitudes de Clientes</h2>
  <form [formGroup]="formAdmin" (ngSubmit)="search()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <input formControlName="fechaInicial" class="form-control" placeholder="Fecha Inicial" name="d1" ngbDatepicker
                 #d1="ngbDatepicker"
                 [ngClass]="{'is-invalid': (formAdmin.get('fechaInicial').hasError('required')) && formAdmin.get('fechaInicial').touched, 'is-valid': !(formAdmin.get('fechaInicial').hasError('required'))}">
          <div class="input-group-append">
            <button class="btn btn-outline-danger calendar" (click)="d1.toggle()" type="button">
              <i class="fa fa-calendar" style="font-size:24px"></i>
            </button>
          </div>
          <div class="invalid-feedback">Selecciona una fecha inicial.</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input formControlName="fechaFinal" class="form-control" placeholder="Fecha Final" name="d2" ngbDatepicker
                 #d2="ngbDatepicker"
                 [ngClass]="{'is-invalid': (formAdmin.get('fechaFinal').hasError('required')) && formAdmin.get('fechaFinal').touched, 'is-valid': !(formAdmin.get('fechaFinal').hasError('required'))}">
          <div class="input-group-append">
            <button class="btn btn-outline-danger calendar" (click)="d2.toggle()" type="button">
              <i class="fa fa-calendar" style="font-size:24px"></i>
            </button>
          </div>
          <div class="invalid-feedback">Selecciona una fecha final.</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning" [disabled]="!formAdmin.valid">Buscar</button>
    </div>
  </form>
  <div>
    <ngb-accordion [closeOthers]="true">
      <ngb-panel *ngFor="let request of requests" [ngSwitch]="request.estado">
        <ng-template ngbPanelTitle>
          <i class="fa fa-calendar-check-o" *ngSwitchCase="true" style="font-size:30px;color:blue"></i>
          <i class="fa fa-calendar-times-o" *ngSwitchCase="false" style="font-size:30px;color:red"></i>
          <span> &bull; <b>{{request.fecha}}</b></span> - {{request.usuario}}
        </ng-template>
        <ng-template ngbPanelContent>
          <h5>Tipo Actividad: {{request.tipoActividad}}</h5>
          <strong>Mensaje: </strong>{{request.mensaje}}
          <br>
          <strong *ngIf="request.respuesta != ''">Respondiste: </strong>{{request.respuesta}}
          <button type="button" *ngIf="!request.estado" class="btn btn-success"
                  (click)="openModalSendResponse(content, request)">Responder
          </button>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enviar Respuesta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formSend" (ngSubmit)="sendResponse()">
    <div class="modal-body">
      <div class="form-group">
        <i class="fa fa-check-circle check" *ngIf="!(formSend.get('mensaje').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck"
           *ngIf="(formSend.get('mensaje').hasError('required')) && formSend.get('mensaje').touched"></i>
        <label>Enviar Respuesta a solicitud de {{requestSelected.usuario}}</label>
        <input formControlName="mensaje" type="text" class="form-control" id="mensaje" placeholder="Mensaje"
               [ngClass]="{'is-invalid': (formSend.get('mensaje').hasError('required')) && formSend.get('mensaje').touched, 'is-valid': !(formSend.get('mensaje').hasError('required'))}">
        <div class="invalid-feedback">Ingresa un mensaje.</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" [disabled]="!formSend.valid">Enviar</button>
    </div>
  </form>
</ng-template>
