<div class="container py-2">
  <h2 class="text-center text-muted py-3">Suministros</h2>
  <div *ngFor="let suministro of suministros">
    <h3>{{suministro.nombreTipoSuministro}}</h3>
    <hr>
    <!-- timeline item 1 -->
    <div class="row" *ngFor="let detalle of suministro.detales;" (mouseover)="highlightRow(detalle)" (click)="goToViewSupplie(detalle)">
      <!-- timeline item 1 left dot -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill" [ngClass]="{'bg-info': (detalle.nombreSuministro == nombreSuministro),
                'bg-light border': (!(detalle.nombreSuministro == nombreSuministro))}">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- timeline item 1 event content -->
      <div class="col py-2">
        <div class="card" [ngClass]="{'border-info shadow': (detalle.nombreSuministro == nombreSuministro),
                '': (!(detalle.nombreSuministro == nombreSuministro))}">
          <div class="card-body">
            <div class="float-right" [ngClass]="{'text-info': (detalle.nombreSuministro == nombreSuministro),
                'text-muted': (!(detalle.nombreSuministro == nombreSuministro))}">{{detalle.fechaCompra}}</div>
            <h4 class="card-title" [ngClass]="{'text-info': (detalle.nombreSuministro == nombreSuministro),
                '': (!(detalle.nombreSuministro == nombreSuministro))}">{{detalle.nombreSuministro}} {{detalle.cantidadSuministro}} {{detalle.unidadMedida}}</h4>
            <p>Consumo: {{detalle.consumoDiario}}</p>
            <p>Comentarios: {{detalle.comentarios}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-float">
    <button type="button" class="btn btn-default btn-circle btn-xl btn-lateral" (click)="goToCreateSupplie()"><i class="material-icons">
      add_circle
    </i></button><br>
  </div>
</div>
