<div class="container py-2">
  <h2 class="text-center text-muted py-3">Suministros</h2>
  <div *ngFor="let suministro of suministros">
    <h3>{{suministro.nombreTipoSuministro}}</h3>
    <hr>
    <!-- timeline item 1 -->
    <div class="row" *ngFor="let detalle of suministro.detalles;" (mouseover)="highlightRow(detalle)" (click)="goToViewSupplie(detalle)">
      <!-- timeline item 1 left dot -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill" [ngClass]="{'bg-info': (detalle.id == idSuministro),
                'bg-light border': (!(detalle.id == idSuministro))}">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- timeline item 1 event content -->
      <div class="col py-2">
        <div class="card" [ngClass]="{'border-info shadow': (detalle.id == idSuministro),
                '': (!(detalle.id == idSuministro))}">
          <div class="card-body">
            <div class="float-right" [ngClass]="{'text-info': (detalle.id == idSuministro),
                'text-muted': (!(detalle.id == idSuministro))}">{{detalle.fecha}}</div>
            <h4 class="card-title" [ngClass]="{'text-info': (detalle.id == idSuministro),
                '': (!(detalle.id == idSuministro))}">{{detalle.nombre}} {{detalle.cantidad}} {{detalle.unidadMedida}}</h4>
            <p>Precio: {{detalle.precio}}</p>
            <p>Comentario: {{detalle.comentario}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="btn-float">-->
    <!--<button type="button" class="btn btn-default btn-circle btn-xl btn-lateral" (click)="goToCreateSupplie()"><i class="material-icons">-->
      <!--add_circle-->
    <!--</i></button><br>-->
  <!--</div>-->
  <button (click)="goToCreateSupplie()" class="btn btn-default btn-circle btn-xl float">
    <i class="fa fa-plus my-float"></i>
  </button>
</div>
