<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{propiedades['modal-create']['create.message.title']}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="petForm" (ngSubmit)="getData()">
    <div class="form-group">
      <img class="img-fluid" *ngIf="value != ''"
           [src]="_DomSanitizer.bypassSecurityTrustUrl(this.convertImage + value)" class="img-thumbnail">
      <label for="foto">{{propiedades['label.chosee.photo']}}</label>
      <i class="fa fa-check-circle check" *ngIf="value != '' "></i>
      <i class="fa fa-exclamation-circle uncheck" *ngIf="value == ''"></i>
      <div class="custom-file">
        <input id="foto" type="file" class="form-control" (change)="onFileChange($event)" [ngClass]="{'is-invalid': value == '', 'is-valid': value != ''}">
        <div class="invalid-feedback">{{propiedades['label.chosee.photo.invalid']}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="nombreMascota">{{propiedades['label.nombre.mascota']}}</label>
      <i [ngClass]="isValidCheck('nombre')"></i>
      <input formControlName="nombre" type="text" class="form-control" id="nombreMascota"
             placeholder="Nombre de tu mascota" [ngClass]="isValidInput('nombre')">
      <div class="invalid-feedback">{{propiedades['label.nombre.mascota.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="tipoMascota">{{propiedades['label.tipo.mascota']}}</label>
      <i [ngClass]="isValidCheck('tipoMascota')"></i>
      <select formControlName="tipoMascota" class="form-control" id="tipoMascota" [ngClass]="isValidInput('tipoMascota')">
        <option *ngFor="let type of typePets; trackBy: trackByFn" [value]="type.id">{{type.nombre}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades['label.tipo.mascota.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="generoMascota">{{propiedades['label.genero']}}</label>
      <i [ngClass]="isValidCheck('genero')"></i>
      <select formControlName="genero" class="form-control" id="generoMascota"
              [ngClass]="isValidInput('genero')">
        <option *ngFor="let genero of listaGeneros; trackBy: trackByFn" [value]="genero.value">{{genero.value}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades['label.genero.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="generoMascota">{{propiedades['label.fecha.nacimiento']}}</label>
      <i [ngClass]="isValidCheck('fechaNacimiento')"></i>
      <div class="input-group">
        <input formControlName="fechaNacimiento" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
               #d="ngbDatepicker" [ngClass]="isValidInput('fechaNacimiento')">
        <div class="input-group-append">
          <button class="btn btn-outline-danger calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" style="font-size:24px"></i>
          </button>
        </div>
        <div class="invalid-feedback">{{propiedades['label.fecha.nacimiento.invalid']}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="razaMascota">{{propiedades['label.raza']}}</label>
      <i [ngClass]="isValidCheck('raza')"></i>
      <input formControlName="raza" type="text" class="form-control" id="razaMascota" placeholder="Raza de tu mascota" [ngClass]="isValidInput('raza')">
      <div class="invalid-feedback">{{propiedades['label.raza.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="mascotaEsterilizada">{{propiedades['label.esterilizado']}}</label>
      <i [ngClass]="isValidCheck('esterilizado')"></i>
      <select formControlName="esterilizado" class="form-control" id="mascotaEsterilizada" [ngClass]="isValidInput('esterilizado')">
        <option *ngFor="let opcion of listaSiNo; trackBy: trackByFn" [value]="opcion.value">{{opcion.value}}</option>
      </select>
      <div class="invalid-feedback">{{propiedades['label.esterilizado.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="colorMascota">{{propiedades['label.color']}}</label>
      <i [ngClass]="isValidCheck('color')"></i>
      <input formControlName="color" type="text" class="form-control" id="colorMascota"
             placeholder="Color de tu mascota" [ngClass]="isValidInput('color')">
      <div class="invalid-feedback">{{propiedades['label.color.invalid']}}</div>
    </div>
    <div class="form-group">
      <label for="descripcionMascota">{{propiedades['label.descripcion']}}</label>
      <i [ngClass]="isValidCheck('descripcion')"></i>
      <textarea formControlName="descripcion" name="descripcionDelEstablecimiento" class="form-control"
                id="descripcionMascota" placeholder="Descripción"
                [ngClass]="isValidInput('descripcion')"></textarea>
      <div class="invalid-feedback">{{propiedades['label.descripcion.invalid']}}</div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success">{{variables.common.buttons['button.register']}}</button>
    </div>
  </form>
</div>

