<br>
<div class="container">
  <div class="form-horizontal">
    <h2>Registrarse en Mascotas.ga como propietario</h2>
    <p>Por favor ingresa algunos datos para crear una cuenta</p>
    <div class="container text-right">
      <a class="btn btn-primary float-md-right " routerLink="/register">Registarse como usuario</a>
    </div>
    <hr />
    <form [formGroup]= "registerForm" (ngSubmit)="getData()">
      <div class="form-group">
        <label for="nombreUsuario">Nombre Usuario</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('nombreUsuario').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('nombreUsuario').hasError('required')) && registerForm.get('nombreUsuario').touched"></i>
        <input formControlName="nombreUsuario" type="text" class="form-control" id="nombreUsuario" placeholder="Ingresa un nombre de usuario">
        <p class="alert alert-danger" *ngIf="(registerForm.get('nombreUsuario').hasError('required')) && registerForm.get('nombreUsuario').touched">Ingresa un usuario valido.</p>
      </div>
      <div class="form-group">
        <label for="nombres">Nombres</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('nombres').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('nombres').hasError('required')) && registerForm.get('nombres').touched"></i>
        <input formControlName="nombres" type="text" class="form-control" id="nombres" placeholder="Ingresa tus nombres">
        <p class="alert alert-danger" *ngIf="(registerForm.get('nombres').hasError('required')) && registerForm.get('nombres').touched">Ingresa un nombre valido.</p>
      </div>
      <div class="form-group">
        <label for="apellidosUsuarios">Apellidos</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('apellidos').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('apellidos').hasError('required')) && registerForm.get('apellidos').touched"></i>
        <input formControlName="apellidos" type="text" class="form-control" id="apellidosUsuarios" placeholder="Ingresa tus apellidos">
        <p class="alert alert-danger" *ngIf="(registerForm.get('apellidos').hasError('required')) && registerForm.get('apellidos').touched">Ingresa al menos un apellido.</p>
      </div>
      <div class="form-group">
        <label for="correoUsuario">Correo Electronico</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('email').hasError('required')) && !(registerForm.get('email').hasError('pattern'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('email').hasError('required') || registerForm.get('email').hasError('pattern')) && registerForm.get('email').touched"></i>
        <input formControlName="email" type="email" class="form-control" id="correoUsuario" placeholder="Ingresa tu email">
        <p class="alert alert-danger" *ngIf="((registerForm.get('email').hasError('required')) || registerForm.get('email').hasError('pattern')) && registerForm.get('email').touched">Ingresa un correo valido.</p>
      </div>
      <div class="form-group">
        <label for="nombreEstablecimiento">Establecimiento</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('establecimiento').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('establecimiento').hasError('required')) && registerForm.get('establecimiento').touched"></i>
        <input formControlName="establecimiento" type="text" class="form-control" id="nombreEstablecimiento" placeholder="Ingresa el nombre de tu establecimiento">
        <p class="alert alert-danger" *ngIf="(registerForm.get('establecimiento').hasError('required')) && registerForm.get('establecimiento').touched">Ingresa un establecimiento valido.</p>
      </div>
      <div class="form-group">
        <label for="nitEstablecimiento">Nit Establecimiento</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('nit').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('nit').hasError('required')) && registerForm.get('nit').touched"></i>
        <input formControlName="nit" type="text" class="form-control" id="nitEstablecimiento" placeholder="Ingresa el Nit de tu establecimiento">
        <p class="alert alert-danger" *ngIf="(registerForm.get('nit').hasError('required')) && registerForm.get('nit').touched">Ingresa un nit valido.</p>
      </div>
      <div class="form-group">
        <label for="descripcionEstablecimiento">Descripción</label>
        <i class="fa fa-check-circle check" *ngIf="!(registerForm.get('descripcion').hasError('required'))"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="(registerForm.get('descripcion').hasError('required')) && registerForm.get('descripcion').touched"></i>
        <textarea formControlName="descripcion" name="descripcionDelEstablecimiento" class="form-control" id="descripcionEstablecimiento" placeholder="Ingresa una descripción breve de tu establecimiento"
          style="width: 100%; height: 150px;"></textarea>
        <p class="alert alert-danger" *ngIf="(registerForm.get('descripcion').hasError('required')) && registerForm.get('descripcion').touched">Ingresa una descripción valida.</p>
      </div>
      <div [formGroup]="passwordFormGroup">
        <div class="form-group">
          <label for="passwordUsuario">Contraseña</label>
          <i class="fa fa-check-circle check" *ngIf="!(passwordFormGroup.get('password').hasError('required'))"></i>
          <i class="fa fa-exclamation-circle uncheck" *ngIf="(passwordFormGroup.get('password').hasError('required')) && passwordFormGroup.get('password').touched"></i>
          <input formControlName="password" type="password" class="form-control" id="passwordUsuario" placeholder="Ingresa una contraseña">
          <p class="alert alert-danger" *ngIf="(passwordFormGroup.get('password').hasError('required')) && passwordFormGroup.get('password').touched">Ingresa una contraseña valida.</p>
        </div>
        <div class="form-group">
          <label for="passwordConfirmacion">Confirmación Constraseña</label>
          <i class="fa fa-check-circle check" *ngIf="!(passwordFormGroup.get('confirmPassword').hasError('required')) && !(passwordFormGroup.get('confirmPassword').hasError('notEquivalent'))"></i>
          <i class="fa fa-exclamation-circle uncheck" *ngIf="((passwordFormGroup.get('confirmPassword').hasError('required')) || passwordFormGroup.get('confirmPassword').hasError('notEquivalent')) && passwordFormGroup.get('confirmPassword').touched"></i>
          <input formControlName="confirmPassword" type="password" class="form-control" id="passwordConfirmacion" placeholder="Confirma tu contraseña">
          <p class="alert alert-danger" *ngIf="(passwordFormGroup.get('confirmPassword').hasError('required')) && passwordFormGroup.get('confirmPassword').touched">Ingresa una confirmación valida.</p>
          <p class="alert alert-danger" *ngIf="(passwordFormGroup.get('confirmPassword').hasError('notEquivalent')) && passwordFormGroup.get('confirmPassword').touched">La confirmación no coincide.</p>
        </div>
      </div>
      <div class="custom-control custom-checkbox">
        <input formControlName="terminosCondiciones" type="checkbox" class="custom-control-input" id="terminosCondiciones">
        <label class="custom-control-label" for="terminosCondiciones">Declaro que he leido y acepto los Terminos y Condiciones</label>
        <p class="alert alert-danger" *ngIf="(registerForm.get('terminosCondiciones').hasError('required')) && registerForm.get('terminosCondiciones').touched">Debes aceptar los terminos y condiciones.</p>
      </div>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Crear Cuenta</button>
      <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
    </form>
  </div>
</div>
