 <!--<div class="container">-->
    <!--<h3>Sticky Navbar</h3>-->
    <!--<p>A sticky navigation bar stays fixed at the top of the page when you scroll past it.</p>-->
    <!--<p>Scroll this page to see the effect. <strong>Note:</strong> sticky-top does not work in IE11 and earlier.</p>-->
  <!--</div>-->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-danger">
    <div class="container">
      <a class="navbar-brand " [routerLink]="['/home']">Mascotas.ga</a>
      <button class="navbar-toggler" type="button" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="navbar-collapse collapse" id="navbarContent" *ngIf="tipoUsuario();" [ngSwitch]="tipoMenu" [ngClass]="{ 'show': isExpanded }">
        <ul class="navbar-nav ml-auto " *ngSwitchCase="'menuPublico'">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home" (click)='collapse()'>Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login"(click)='collapse()' >Iniciar Sesión</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/register" (click)='collapse()'>Registrarse</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto " *ngSwitchCase="'menuPropietario'">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/home" (click)='collapse()'>Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/establishment" (click)='collapse()'>Mi Establecimiento</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle "  routerLinkActive="active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mascotas</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLinkActive="active" routerLink="/myPetsAdmin" (click)='collapse()'>Dueños</a>
                <!--<div class="dropdown-divider"></div>-->
                <a class="dropdown-item" routerLinkActive="active" routerLink="/myPetsAdminPets" (click)='collapse()'>Mascotas</a>
              </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/suppliesAdmin" (click)='collapse()'>Suministros</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/dashboardAdmin" (click)='collapse()'>Estadisticas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" (click)="goToLogout()" (click)='collapse()'>Salir</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto " *ngSwitchCase="'menuUsuario'">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home" (click)='collapse()'>Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/myPets" (click)='collapse()'>Mis Mascotas</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/agenda" (click)='collapse()'>Mi Agenda</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/supplies" (click)='collapse()'>Suministros</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" (click)="goToLogout()" (click)='collapse()'>Salir</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
