<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of carousel; trackBy: trackByFn" [ngClass]="{'active': (item.id == 0), '': (item.id != 0)}">
        <img class="first-slide" [src]='item.imagen' alt="Slide 1">
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>{{item.title}}</h1>
            <p>{{item.description}}</p>
            <p><a class="btn btn-lg btn-primary" [routerLink]="item.url" role="button">{{item.button}}</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of marketing; trackBy: trackByFn">
        <img class="rounded-circle" [src]="item.imagen" alt="Imagen no disponible" width="140" height="140">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <p><a class="btn btn-secondary" [routerLink]="item.url" role="button">{{item.button}} &raquo;</a></p>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{bodyDescription[0].title}}</h2>
        <p class="lead">
          {{bodyDescription[0].description}}
          <span class="text-muted">{{bodyDescription[0].textmuted}}</span>
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="bodyDescription[0].imagen" alt="Imagen no disponible">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{bodyDescription[1].title}}</h2>
        <p class="lead">
          {{bodyDescription[1].description}}
          <span class="text-muted">{{bodyDescription[1].textmuted}}</span>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" [src]="bodyDescription[1].imagen" alt="Imagen no disponible">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{bodyDescription[2].title}}</h2>
        <p class="lead">
          {{bodyDescription[2].description}}
          <span class="text-muted">{{bodyDescription[2].textmuted}}</span>
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="bodyDescription[2].imagen" alt="Imagen no disponible">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</main>
