<br>
<div class="container">
  <div class="form-register">
    <div class="text-center">
      <h2>{{propiedadesRegister['title'].replace('{0}', variables['application.name'])}}</h2>
      <p>{{propiedades['description']}}</p>
      <a class="btn btn-primary float-md-center" [routerLink]="urlRegister">{{propiedadesRegister['button.registro']}}</a>
      <hr />
    </div>
    <form [formGroup]= "registerForm" (ngSubmit)="getData()" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="nombreUsuario">{{propiedades['label.nombre.usuario']}}</label>
        <i [ngClass]="isValidCheck('nombreUsuario')"></i>
        <input formControlName="nombreUsuario" type="text" class="form-control" id="nombreUsuario" placeholder="Ingresa un nombre de usuario" [ngClass]="isValidInput('nombreUsuario')">
        <div class="invalid-feedback">{{propiedades['label.nombre.usuario.invalid']}}</div>
      </div>
      <div class="form-group">
        <label for="nombres">{{propiedades['label.nombres']}}</label>
        <i [ngClass]="isValidCheck('nombres')"></i>
        <input formControlName="nombres" type="text" class="form-control" id="nombres" placeholder="Ingresa tus nombres" [ngClass]="isValidInput('nombres')">
        <div class="invalid-feedback">{{propiedades['label.nombres.invalid']}}</div>
      </div>
      <div class="form-group">
        <label for="apellidosUsuarios">{{propiedades['label.apellidos']}}</label>
        <i [ngClass]="isValidCheck('apellidos')"></i>
        <input formControlName="apellidos" type="text" class="form-control" id="apellidosUsuarios" placeholder="Ingresa tus apellidos" [ngClass]="isValidInput('apellidos')">
        <div class="invalid-feedback">{{propiedades['label.apellidos.invalid']}}</div>
      </div>
      <div class="form-group">
        <label for="correoUsuario">{{propiedades['label.correo.electronico']}}</label>
        <i [ngClass]="isValidCheck('email')"></i>
        <input formControlName="email" type="email" class="form-control" id="correoUsuario" placeholder="Ingresa tu email" [ngClass]="isValidInput('email')">
        <div class="invalid-feedback">{{propiedades['label.correo.electronico.invalid']}}</div>
      </div>
      <div *ngIf="typeRegister === 'owner'">
        <div class="form-group">
          <label for="nombreEstablecimiento">{{propiedades['label.establecimiento']}}</label>
          <i [ngClass]="isValidCheck('establecimiento')"></i>
          <input formControlName="establecimiento" type="text" class="form-control" id="nombreEstablecimiento" placeholder="Ingresa el nombre de tu establecimiento" [ngClass]="isValidInput('establecimiento')">
          <div class="invalid-feedback">{{propiedades['label.establecimiento.invalid']}}</div>
        </div>
        <div class="form-group">
          <label for="nitEstablecimiento">{{propiedades['label.nit.establecimiento']}}</label>
          <i [ngClass]="isValidCheck('nit')"></i>
          <input formControlName="nit" type="text" class="form-control" id="nitEstablecimiento" placeholder="Ingresa el Nit de tu establecimiento" [ngClass]="isValidInput('nit')">
          <div class="invalid-feedback">{{propiedades['label.nit.establecimiento.invalid']}}</div>
        </div>
        <div class="form-group">
          <label for="descripcionEstablecimiento">{{propiedades['label.descripcion']}}</label>
          <i [ngClass]="isValidCheck('descripcion')"></i>
          <textarea formControlName="descripcion" name="descripcionDelEstablecimiento" class="form-control" id="descripcionEstablecimiento" placeholder="Ingresa una descripción breve de tu establecimiento"
                    style="width: 100%; height: 100px;" [ngClass]="isValidInput('descripcion')"></textarea>
          <div class="invalid-feedback">{{propiedades['label.descripcion.invalid']}}</div>
        </div>
      </div>
      <div formGroupName="passwordFormGroup">
        <div class="form-group">
          <label for="passwordUsuario">{{propiedades['label.password']}}</label>
          <i [ngClass]="isValidCheck('passwordFormGroup.password')"></i>
          <input formControlName="password" type="password" class="form-control" id="passwordUsuario" placeholder="Ingresa una contraseña" [ngClass]="isValidInput('passwordFormGroup.password')">
          <div class="invalid-feedback">{{propiedades['label.password.invalid']}}</div>
        </div>
        <div class="form-group">
          <label for="passwordConfirmacion">{{propiedades['label.confirm.password']}}</label>
          <i [ngClass]="isValidCheck('passwordFormGroup.confirmPassword')"></i>
          <input formControlName="confirmPassword" type="password" class="form-control" id="passwordConfirmacion" placeholder="Confirma tu contraseña" [ngClass]="isValidInput('passwordFormGroup.confirmPassword')">
          <div class="invalid-item" *ngIf="(registerForm.get('passwordFormGroup.confirmPassword').hasError('required')) && registerForm.get('passwordFormGroup.confirmPassword').touched">{{propiedades['label.confirm.password.invalid']}}</div>
          <div class="invalid-item" *ngIf="(registerForm.get('passwordFormGroup.confirmPassword').hasError('notEquivalent')) && registerForm.get('passwordFormGroup.confirmPassword').touched">{{propiedades['label.confirm.password.diferent']}}</div>
        </div>
      </div>
      <div class="custom-control custom-checkbox">
        <input formControlName="terminosCondiciones" type="checkbox" class="custom-control-input" id="terminosCondiciones">
        <label class="custom-control-label" for="terminosCondiciones">{{propiedades['label.terminos.condiciones']}}</label>
        <div class="invalid-item" *ngIf="isCheckValid('terminosCondiciones')">{{propiedades['label.terminos.condiciones.invalid']}}</div>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-block" >{{variables.common.buttons['button.create.count']}}</button>
      <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
    </form>
  </div>
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="urlRegister">{{propiedadesRegister['link.ingresar']}}</a>
      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="urls.URL_LOGIN">{{propiedades['link.inicio.sesion']}}</a>
      </li>
    </ul>
  </div>
</div>
